body{
    background: rgb(34,193,195);
    background: -moz-radial-gradient(circle, rgba(34,193,195,1) 13%, rgba(253,187,45,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(34,193,195,1) 13%, rgba(253,187,45,1) 100%);
    background: radial-gradient(circle, rgba(34,193,195,1) 13%, rgba(253,187,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);
}

.temp-container h1{
    color: #FFFFFF;
    
    text-shadow: 3px 5px 2px #474747;
}

h1 span{
    color: rgb(252,246,186);
    color:  -moz-linear-gradient(229deg, rgba(252,246,186,1) 34%, rgba(191,149,63,1) 100%);
    color:  -webkit-linear-gradient(229deg, rgba(252,246,186,1) 34%, rgba(191,149,63,1) 100%);
    color:  linear-gradient(229deg, rgba(252,246,186,1) 34%, rgba(191,149,63,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fcf6ba",endColorstr="#bf953f",GradientType=1);
}

.conversion-container{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.resulstDisplay{
    background-color: rgb(34,193,195);
}
